$grays: #F6F6F6, #ECEDED, #D9DADB, #C6C7C8, #B1B3B4, #9C9E9F, #707173, #333333, #1A1A1A;
$magentas: #FF6892, #FF1C5A;
$blues: #B0E7FD, #64D2FD;
$greens: #B7E5D7, #24B287;
$yellows: #FFDA74, #FFC528;

.primary,
.primary:hover {
	color: #FF1C5A;
}

section,
a {
    color: #333;
}