/*Container*/
.container {
	width:$site-width;
	margin:0px auto;

	@media (max-width:1023px) {
		width:$site-width-ipad;
	}

	@media (max-width:767px) {
		width:$site-width-mobile;
		padding:0px 15px;
	}

	&:after {
		@extend .after;
	}
}
.entry-content {
	padding:15px 0px;
}
.right-sidebar {
	.primary-content {
		float:left;
		width:70%;
		padding-right:10px;

		@media (max-width:1023px) {
			width:65%;
		}
		@media (max-width:767px) {
			width:100%;
			float:none;
			margin-bottom:15px;
			padding-right:0px;
		}
	}
	.side-bar {
		float:right;
		width:30%;
		padding-left:20px;

		@media (max-width:1023px) {
			width:35%;
		}
		@media (max-width:767px) {
			width:100%;
			max-width:280px;
			margin:0px auto;
			float:none;
			padding-left:0px;
		}
	}
}
.left-sidebar {
	.primary-content {
		float:right;
		width:70%;
		padding-left:10px;
	}
	.side-bar {
		float:left;
		width:30%;
		padding-right:20px;
	}
}
/*grid*/

.columnRow {
	margin-left:-15px;
	margin-right:-15px;

	.column {
		width:100%;
		float:left;
		padding:0px 15px;
	}

	&.two {

		.column {
			width:50%;
			padding:0px 15px;
		}
	}

	&.three {

		.column {
			width:33.33%;
			padding:0px 15px;
		}
	}
	&.four {

		.column {
			width:25%;
			padding:0px 15px;
		}
	}
	&.five {

		.column {
			width:20%;
			padding:0px 15px;
		}
	}
	&.six {

		.column {
			width:16.66%;
			padding:0px 15px;
		}
	}

	&:after {
		@extend .after;
	}
}

/*row*/
.row {

	&:before {
		@extend .after;
	}

	&:after {
		@extend .after;
	}
}
